*{
    margin: 0;
}
.section1 {
    height: 95vh;
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    /* height: 700px; 
    width: 100%;  */
    text-align: center;
    padding-top: 200px;
    color: white;
    font-family: 'Gabriela' , serif;

}

.section1 .logo {
    height: 50px; 
    width: 50px;
    margin-top: 18px;
    margin-bottom: 34px;
    width: 70px;
   height: 70px;;
  
}
.section1 .mouse{
    margin-top: 120px;
    padding-top : 12px;
    margin-top: 5%;
    padding-bottom: 30px;
}
.section2{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Copse', serif;
}
.section3{
    height: 40vh;
    background-image: url('../assets/backgrounds/s_image.jpg');
}
